<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anipick.backend.test.TestMapper">
    <select id="findReviews"
    resultType="com.anipick.backend.test.TestResponseDto">
        SELECT r.review_id AS reviewId,
               r.anime_id AS animeId,
               a.title_english AS title
        FROM Review r
        JOIN Anime a on a.anime_id = r.anime_id
        WHERE r.user_id = #{userId}
    </select>
</mapper>