<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="appLogPath" value="/home/logs"/>
    <property name="appLogFilePath" value="${appLogPath}/springboot"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="APP_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${appLogFilePath}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${appLogFilePath}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>10</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul}] %-5level ${PID:-} --- %-40.40logger{36} : %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="APP_LOG_FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
