<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anipick.backend.like.mapper.LikeMapper">
    <select id="selectUserLikeAnime" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM useranimelike
                      WHERE user_id = #{userId}
                        AND anime_id = #{animeId}
                      )
    </select>

    <select id="selectUserLikeActor" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM Userlikedvoiceactor
                      WHERE user_id = #{userId}
                        AND voiceactor_id = #{personId})
    </select>

    <select id="selectUserLikeReview" resultType="boolean">
        SELECT EXISTS(SELECT 1
                      FROM Reviewlike
                      WHERE user_id = #{userId}
                        AND review_id = #{reviewId})
    </select>
</mapper>