<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anipick.backend.version.mapper.VersionMapper">
    <insert id="createVersionOfUpdateOrNotice" parameterType="com.anipick.backend.admin.dto.CreateVersionRequestDto">
        INSERT INTO version
            (platform, major, minor, patch, important_yn, url, type, title, updated_content, updated_at)
        values
            (#{platform}, #{major}, #{minor}, #{patch}, #{importantYn}, #{url}, #{type}, #{title}, #{updatedContent}, NOW())
    </insert>

    <update id="updateVersion" parameterType="com.anipick.backend.admin.dto.UpdateVersionRequestDto">
        UPDATE version
        SET platform = #{platform},
            major = #{major},
            minor = #{minor},
            patch = #{patch},
            important_yn = #{importantYn},
            url = #{url},
            type = #{type},
            title = #{title},
            updated_content = #{updatedContent}
        WHERE version_id = #{versionId}
    </update>

    <delete id="deleteVersion">
        DELETE FROM version
        WHERE version_id = #{versionId}
    </delete>
</mapper>