<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anipick.backend.anime.mapper.AnimeMapper">
    <update id="updateReviewCount">
        UPDATE Anime
        SET review_count = #{updateReviewCount}
        WHERE anime_id = #{animeId}
    </update>
</mapper>