<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anipick.backend.anime.mapper.AnimeMapper">
    <update id="updatePlusReviewCount">
        UPDATE Anime a
        SET review_count = a.review_count + 1
        WHERE anime_id = #{animeId}
    </update>

    <update id="updateMinusReviewCount">
        UPDATE Anime a
        SET review_count = a.review_count - 1
        WHERE anime_id = #{animeId}
    </update>

    <update id="updateReviewAverageScore">
        UPDATE Anime a
        SET review_average_score = #{reviewAverageScore}
        WHERE anime_id = #{animeId}
    </update>
    
    <update id="updateReviewAverageScoresByAnimeIds">
        UPDATE Anime a
        JOIN (
            SELECT r.anime_id AS animeId,
               AVG (r.rating) AS avgRating
            FROM Review r
            WHERE r.anime_id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            GROUP BY r.anime_id
        ) agg ON agg.animeId = a.anime_id
        SET a.review_average_score = agg.avgRating
    </update>
</mapper>