<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anipick.backend.recommendation.mapper.RecommendMapper">
    <select id="selectUserRecentHighAnimes"
            parameterType="com.anipick.backend.recommendation.dto.RecentHighCountOnlyRequest"
            resultType="com.anipick.backend.recommendation.dto.AnimeAllTitleItemRecommendTagCountDto">
        SELECT a.anime_id AS animeId,
               an.title_kor AS titleKor,
               an.title_english AS titleEng,
               an.title_romaj AS titleRom,
               an.title_native AS titleNat,
               an.cover_image_url AS coverImageUrl,
               a.tag_count AS tagCount
        FROM (
            SELECT at.anime_id,
                   COUNT(*) AS tag_count
            FROM animetag at
            WHERE at.tag_id IN
                <foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            AND at.anime_id &lt;&gt; #{referenceAnimeId}
            GROUP BY at.anime_id
        ) AS a
        JOIN anime an
            ON an.anime_id = a.anime_id
        LEFT JOIN review r
            ON an.anime_id = r.anime_id
                AND r.user_id = #{userId}
        WHERE r.user_id IS NULL
        <!-- 성인 애니 제거 -->
        AND NOT EXISTS(
            SELECT 1
            FROM animegenres ag
            WHERE ag.anime_id = an.anime_id
            AND ag.genre_id = 638
        )
        <if test="lastCount != null and lastId != null">
            AND (
                a.tag_count &lt; #{lastCount}
                OR (a.tag_count = #{lastCount} AND a.anime_id &lt; #{lastId})
            )
        </if>
        ORDER BY a.tag_count DESC, a.anime_id DESC
        LIMIT #{size}
    </select>

    <select id="selectTagScoresForUser"
            parameterType="map"
            resultType="com.anipick.backend.recommendation.dto.TagScoreDto">
        SELECT at.tag_id AS tagId,
               SUM(r.rating * at.weight) AS score
        FROM review r
        JOIN animetag at
            ON at.anime_id = r.anime_id
        WHERE r.user_id = #{userId}
        AND r.anime_id IN
            <foreach collection="animeIds" item="animeId" open="(" separator="," close=")">
                #{animeId}
            </foreach>
        GROUP BY at.tag_id
        ORDER BY score DESC
    </select>

    <select id="selectTagBasedAnimes"
            parameterType="com.anipick.backend.recommendation.dto.TagBasedCountOnlyRequest"
            resultType="com.anipick.backend.recommendation.dto.AnimeAllTitleItemRecommendTagCountDto">
        SELECT a.anime_id AS animeId,
               an.title_kor AS titleKor,
               an.title_english AS titleEng,
               an.title_romaj AS titleRom,
               an.title_native AS titleNat,
               an.cover_image_url AS coverImageUrl,
               a.tag_count AS tagCount
        FROM (
            SELECT at.anime_id,
                   COUNT(*) AS tag_count
            FROM animetag at
            WHERE at.tag_id IN
                <foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
        GROUP BY at.anime_id
        ) AS a
        JOIN anime an
            ON an.anime_id = a.anime_id
        LEFT JOIN review r
            ON r.anime_id = an.anime_id
                AND r.user_id = #{userId}
        WHERE r.user_id IS NULL
        <!-- 성인 애니 제거 -->
        AND NOT EXISTS(
            SELECT 1
            FROM animegenres ag
            WHERE ag.anime_id = an.anime_id
            AND ag.genre_id = 638
        )
            <if test="lastCount != null and lastId != null">
                AND (
                a.tag_count &lt; #{lastCount}
                OR (a.tag_count = #{lastCount} AND a.anime_id &lt; #{lastId})
                )
            </if>
        ORDER BY a.tag_count DESC, a.anime_id DESC
        LIMIT #{size}
    </select>
</mapper>