<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anipick.backend.search.mapper.SearchMapper">

    <select id="selectSearchWeekBestAnimes" resultType="com.anipick.backend.anime.dto.AnimeAllTitleImgDto">
        SELECT w.anime_id AS animeId,
               a.title_kor AS titleKor,
               a.title_english AS titleEng,
               a.title_romaj AS titleRom,
               a.title_native AS titleNat,
               a.cover_image_url AS coverImageUrl
        FROM Weekbestanime w
            JOIN Anime a
                ON a.anime_id = w.anime_id
        WHERE w.created_at = #{now}
        LIMIT 18
    </select>

    <select id="countSearchAnime" parameterType="string" resultType="long">
        SELECT COUNT(*)
        FROM Anime a
        WHERE a.title_search LIKE CONCAT('%', #{query}, '%')
    </select>

    <select id="selectSearchAnimes" parameterType="map" resultType="com.anipick.backend.anime.dto.AnimeAllTitleImgDto">
        SELECT a.anime_id AS animeId,
               a.title_kor AS titleKor,
               a.title_english AS titleEng,
               a.title_romaj AS titleRom,
               a.title_native AS titleNat,
               a.cover_image_url AS coverImageUrl
        FROM Anime a
        WHERE (
            a.title_search LIKE CONCAT('%', #{query}, '%')
            )
        <if test="lastId != null">
            AND a.anime_id &lt; #{lastId}
        </if>
        ORDER BY a.anime_id DESC
        LIMIT #{size}
    </select>

    <select id="countSearchPerson" parameterType="string" resultType="long">
        SELECT COUNT(*)
        FROM Voiceactor v
        WHERE v.name_search LIKE CONCAT('%', #{query}, '%')
    </select>

    <select id="selectSearchPersons" parameterType="map" resultType="com.anipick.backend.search.dto.PersonAllNameItemDto">
        SELECT v.voiceactor_id AS personId,
               v.name_kor AS nameKor,
               v.name_eng AS nameEng,
               v.profile_image AS profileImage
        FROM VoiceActor v
        WHERE (
            v.name_search LIKE CONCAT('%', #{query}, '%')
            )
        <if test="lastId != null">
            AND v.voiceactor_id &lt; #{lastId}
        </if>
        ORDER BY v.voiceactor_id DESC
        LIMIT #{size}
    </select>

    <select id="countSearchStudio" parameterType="string" resultType="long">
        SELECT COUNT(*)
        FROM Studio s
        WHERE s.name_search LIKE CONCAT('%', #{query}, '%')
    </select>

    <select id="selectSearchStudios" parameterType="map" resultType="com.anipick.backend.anime.dto.StudioAllNameItemDto">
        SELECT s.studio_id AS studioId,
               s.name_kor AS nameKor,
               s.name_eng AS nameEng
        FROM Studio s
        WHERE (
        s.name_search LIKE CONCAT('%', #{query}, '%')
        )
        <if test="lastId != null">
            AND s.studio_id &lt; #{lastId}
        </if>
        ORDER BY s.studio_id DESC
        LIMIT #{size}
    </select>
</mapper>